.header {
    display: flex;
    align-items: center;
    background-color: #252525;   
    height: 70px;
    padding-left: 20px;
    gap: 25px;
}

.header.logo {
    cursor: default;
    color: white;
    margin: 0;
}
